* {
  box-sizing: border-box;
  color: black !important;
}

.title {
  padding-bottom: 40px;
  font-weight: bold;
  border-bottom: 1px solid rgba(128, 128, 128, 0.468);
}

.form_container {
  display: flex;
  gap: 22px;
  height: 250px;
  margin-top: 30px;
}

.left_container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.upload_box {
  width: 100%;
  height: 100%;
  border: 1px dashed rgba(128, 128, 128, 0.4);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: rgba(240, 248, 255, 0.2);
}

.upload_box:hover {
  background-color: rgba(240, 248, 255, 0.4);
  transition: background-color 0.3s ease;
}

.upload_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload_icon {
  width: 32px;
  margin-bottom: 12px;
}

.upload_content p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.upload_content span {
  font-size: 14px;
  opacity: 0.7;
}

.right_container {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 22px;
}

.left_container textarea {
  height: 100%;
  width: 100%;
  padding: 16px;
  font-family: inherit;
  font-size: 16px;
  border: 1px solid rgba(128, 128, 128, 0.25);
  background-color: rgba(240, 248, 255, 0.2);
  border-radius: 18px;
  outline: none;
  resize: none;
}

.analyze_button {
  height: 20%;
  text-align: center;
  padding: 12px 24px;
  font-size: 16px;
  border: 1px solid rgba(128, 128, 128, 0.25);
  background-color: rgba(240, 248, 255, 0.2);
  color: white;
  border-radius: 18px;
  cursor: pointer;
}

.analyze_button:hover {
  background-color: rgba(240, 248, 255, 0.4);
  transition: background-color 0.3s ease;
}

.loading {
  background-color: rgba(240, 248, 255, 0.4) !important;
}

.analyze_button:disabled {
  cursor: not-allowed;
  background-color: rgba(128, 128, 128, 0.04);
  color: #666666;
}

.subheading {
  font-size: clamp(18px, 4vw, 30px);
  font-weight: 600;
}

.skills_container {
  margin: 70px 0;
}

.table_wrapper {
  overflow-x: auto;
}

.skills_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.skills_table th,
.skills_table td {
  border: 1px solid gray;
  padding: 12px;
  vertical-align: top;
  text-align: left;
}

.skills_table th {
  width: clamp(120px, 25vw, 220px);
  font-weight: 600;
}

.skills_table ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.skills_table li {
  margin-bottom: 4px;
}

@media screen and (max-width: 992px) {
  .title {
    padding-bottom: 30px;
  }
  .form_container {
    margin-top: 20px;
  }

  .skills_container {
    margin: 50px 0;
  }
  .skills_table th,
  .skills_table td {
    padding: 8px;
  }
}

@media screen and (max-width: 768px) {
  .form_container {
    flex-direction: column;
  }

  .left_container {
    width: 100%;
  }

  .right_container {
    width: 100%;
    flex-direction: row;
  }

  .upload_content {
    flex-direction: row;
    padding: 10px;
  }

  .upload_icon {
    width: 22px;
    margin-bottom: 0;
  }

  .upload_content p {
    padding: 0 30px;
  }

  .analyze_button {
    width: 30%;
    height: auto;
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {
  .upload_content p {
    font-size: 16px;
    padding: 0 15px;
  }
  .upload_box span {
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .form_container {
    gap: 16px;
  }
  .right_container {
    gap: 16px;
  }
  .upload_content p {
    font-size: 12px;
    padding: 0 10px;
  }
  .upload_box span {
    font-size: 12px;
  }

  .upload_icon {
    width: 18px;
  }

  .analyze_button {
    font-size: 15px;
  }
}
